.login-button {
  max-width: 400px;
}
$break-small: 500px;

.login-container {
  min-width: 400px;
  height: 100%;

  > * {
    margin: 10px;
  }

  @media screen and (max-width: $break-small) {
    min-width: 100%;
    height: 100%;
  }
}

.gitlab-logo{
  width: 350px;
}

.kube-logo {
  width: 250px;
}
